body {background-color: rgb(135, 202, 222);
font-family: sans-serif;

}

h1{
    color: rgb(133, 43, 15);
    text-align: center;
    }
    h2{
    color: rgb(22, 31, 114);
    text-align: center;
    }

    h3{
color: rgb(87, 74, 32);

    }